html{
    font-family: "Lucida Grande", "Segoe UI", sans-serif;
    color: #111;
    background: #FFF;
    font-size: 100%;
}

body{
    margin:0;
    padding:0;
    text-align:center;
}
/*body{margin: auto ;padding: 0;font-size: 1.3em;line-height: 1.5em;margin-bottom: 0px;margin-top: 0px;}*/

a{
    color: #585858;
}
a:visited{
    color: #585858;
}
a:hover{
    color: #585858;
}
a img{
    border: none;
}
 
#container {
    width: 1100px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border:2px solid #FF8000;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    padding: 10px;
}   
#header  {
    width: auto;
    height: 200px;
    margin: 0 auto;
    padding:0;
    background-color: #E0E0E0;
}
#nav  {
    float:left;
    width: 480px;
    height: 40px;
    margin: 0 auto;
    padding:10px;
    background-color: #D9DBC4;
    text-align: left;
    font-size: 85%;
}
#login  {
    float:left;
    width: 580;
    height: 40px;
    margin: 0 auto;
    padding:10px;
    background-color: #D9DBC4;
    text-align: right;
    font-size: 85%;
}
#sidebar1  {
    float:left;
    width:200px; 
    height: auto; 
    padding:10px;
    background-color: #FF8080;
    text-align: left;
}
#main    {
    float:left;
    width:860px;
    height: auto; 
    padding:10px;
    background-color: #D0D0D0;
    text-align: left;
}
#sidebar2  {
    float:left;
    width:200px; 
    height: auto;
    padding:10px;
    background-color: #FF8080;
    text-align: left;
}
#minititle {
    font-weight: bold;
    font-size: 1em;
    text-align:left; 
}
#footer{
    clear:both;
    width:auto;
    height: 200px;
    background: #D0B4F8;
    text-align: right;
}



    .tabella tr:nth-child(odd) td{
        background: #feffad;
    }
    .tabella tr:nth-child(even) td{
        background: #dbffc6;
    }

.fadein { position:relative; width:500px; height:205px; }
.fadein img { position:absolute; left:0; top:0; }